.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hinhdaidien {
  object-fit: contain;
  height: 70px;
  width: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.nav-box {
  display: flex;
  flex-direction: column;
}

.form-box {
  display: flex;
  flex-direction: space-between;
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.tieude, .ph {
  display: flex;
  justify-content:space-evenly;
}



#img {
  margin-left: 100px;
  object-fit: contain;
  height: 600%;
  width: 40%;
} 
.container {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
#pic-1 {
  border-radius: 2px;
  border-color: #0076ad;
}

#img {
  display: unset;
}

.tieude {
  display: flex;
  justify-content: space-evenly;
}

.hinhdetail {
  object-fit: contain;
  height: 500px;
  width: auto;
}

.cmtf {
  display: inline-flex;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: rgb(212, 250, 60);
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

#formAddCart {
  display: -webkit-box;
  text-align: -webkit-center;
  margin-left: 600px;
}

.listbook {
  font-size: 50px;
}